<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>shoplync_bike_model_filter</name>
	<displayName><![CDATA[Bike Model Filter]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[A SMS Pro add-on module. Designed to allow user to filter products by bike model fitment. Allows users to save and add bike model fitments to their garage and set their prefered bike model.]]></description>
	<author><![CDATA[Shoplync]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
